/* * {
    border: solid 1px white;
} */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
}

.header {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
}

.header img {
    height: 120px;
    margin: 0px 10px;
}

.header div:first-child {
    margin-left: 10%;
    display: flex;
    align-content: center;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
    color: gray;
    text-align: left;
}

.content {
    width: 100%;
}

.project {
    margin: 30px;
}

.description {
    display: flex;
    justify-content: center;
    height: 400px;
}

.model-image-container {
    background-color: #212830;
    display: flex;
    align-items: center;
    width: 30%;
}

.model-image-container > img {
    width: 100%;
}

.drawings {
    background-color: white;
}

.drawings img {
    height: 50%;
    display: flex;
    align-items: center;  
}

.text {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.tables {
    display: flex;
    justify-content: space-around;
}

table {
    margin: 20px;
    width: 500px;
}

footer div {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

footer p {
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    background-color: #186bff;
    border: none;
    color: #FFFFFF;
    padding: 3px;
}

.division {
    width: 90%;
    margin: auto;
    border-top: solid 1px;
}

.bom-list {
    width: 800px;
}

.table-sapce {
    height: 20px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .description {
        display: block;
        
        height: auto;
    }

    .model-image-container {
       
        width: 100%;
    }

    .drawings {
        display: flex;
        justify-content: center;
    }

    .drawings img {
        width: 50%;
    }

    .text {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0px;
    }

    .tables {
        display: block;
        /* justify-content: space-around; */
    }

    table {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }

    .header img {
        height: 100px;
        margin: 0px 10px;
    }
}

